.card {
    background-color: #ff9898;
    border-radius: 10px;
    position: relative;
    margin:auto;
    width: 400px;
    text-align: center;
    padding: 10px;

    color:black;
}

.card p {
    margin-top: 0;
}

body {
    width: 75%;
    height: 75%;
    color:white;

    background: #222;

}